.mat_form {
    display: block;
}

.mat_label {
    color: black;
}

::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: black;
}

::ng-deep .mat-form-field-underline {
        background-color: black !important;
} 

::ng-deep .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element {
    color: black;
}

::ng-deep .cdk-text-field-autofill-monitored:not(:-webkit-autofill) {

    color: black;
}