::ng-deep .mat-list-base {
    display: flex !important;
    padding: 0px !important;
}

::ng-deep .mat-toolbar-row, .mat-toolbar-single-row {
    height: 50px !important;
}

.div_cabecera {
    width: 100%;
    height: 90%;
    background: brown;
}

.div_info_cabecera {
    margin: 0% 21%;
    background: white;
    border-radius: 8px;
}

.div_nav {
    padding: 0% 20%;
}

.toolbar {
    background: none;
}

.div_img {
    width: 10%;
    background-color: rgb(0, 0, 0, 0.3);
    border-bottom: solid 1px lightgrey;
    border-right: solid 1px lightgrey;
    border-bottom-left-radius: 8px;
}

.img {
    width: 45%;
    padding-left: 21px;
    padding-top: 9px;
}

.div_menu {
    width: 85%;
    border-bottom: solid 1px lightgrey;
    background: rgb(0, 0, 0, 0.3);
}

.div_icon {
    width: 15%;  
    background: rgb(0, 0, 0, 0.3);
    border-bottom: solid 1px lightgrey;
    border-left: solid 1px lightgrey;
    border-bottom-right-radius: 8px;
}

.icon_nav {
    padding: 12px 20px;
}

.div_input_search {
    width: 30%;
    float: left;
}

.div_list {
    width: 70%;
    float: right;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.content_all {
    width: 210px;
    perspective: 1000px;
    position: relative;
    margin: auto;
    margin-top: 50px;
}

.content_carrousel {
    width: 100%;
    position: absolute;
    animation: rotar 10s infinite linear;
    transform-style: preserve-3d;
}

.content_carrousel figure {
    width: 100%;
    height: 120px;
    overflow: hidden;
    position: absolute;
}
 
.content_carrousel figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
}
.content_carrousel figure:nth-child(2) {
    transform: rotateY(40deg) translateZ(300px);
}
.content_carrousel figure:nth-child(3) {
    transform: rotateY(80deg) translateZ(300px);
}
.content_carrousel figure:nth-child(4) {
    transform: rotateY(120deg) translateZ(300px);
}
.content_carrousel figure:nth-child(5) {
    transform: rotateY(160deg) translateZ(300px);
}
.content_carrousel figure:nth-child(6) {
    transform: rotateY(200deg) translateZ(300px);
}
.content_carrousel figure:nth-child(7) {
    transform: rotateY(240deg) translateZ(300px);
}
.content_carrousel figure:nth-child(8) {
    transform: rotateY(280deg) translateZ(300px);
}
.content_carrousel figure:nth-child(9) {
    transform: rotateY(320deg) translateZ(300px);
}
.content_carrousel figure:nth-child(10) {
    transform: rotateY(360deg) translateZ(300px);
}

.content_carrousel img {
    width: 100%;
}

@keyframes rotar {
    from {
        transform: rotateY(0deg);
    }to {
        transform: rotateX(360deg);
    }
}